{% extends 'base.html' %}

{% block title %}
Add Offer
{% endblock %}

{% block content %}

<br></br>  

    <div class="container mt-5">
        <h1 class="text-center">Add Offer</h1>
        <br></br>  

        <form method="post" enctype="multipart/form-data" class="text-center">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success btn-lg"> Submit</button>
        </form>
        <br></br> 

        <a href="{% url 'offer_list' %}" class="btn btn-secondary mt-3" >Back to Offer List</a>
        <a href="{% url 'home' %}" class="btn btn-secondary mt-3" > Home </a>

    </div>

{% endblock %}
