{% extends "base.html" %}
<!--
	Quand tu veut afficher les élements d'un attribut avec un for la syntax est la suivantes
	for un_mot in nom_de_l'intance de la classe
	un_mot.attribut #attribut a afficher
-->

{% block title %}
Offer list for Gestion
{% endblock %}

{% block content %}

<br><br>
<br><br>


<ol>
	{% for offer in offers %}
		{% if offer.category == "gestion" %}

			<div class="card text-bg-dark mb-3" style="width: 20rem;" >
				<img src="https://cdn.pixabay.com/photo/2014/05/18/18/34/icon-347234__340.png" 
				width="100" 
				height="100" 
				class="card-img-center"  
				>

				<div class="card-body">
		    		<h5 class="card-title">{{offer.title_offer}}</h5>
		    		<a href="{% url 'offer_view' offer.pk  %}" class="btn btn-primary">Read more...</a><br><br>
		  		</div>
                
			</div>

		{% elif offer.category != "gestion"  %}
			<div>
				
			</div>
		{% else %}

			<div class="text-center">
				<h2> No Offer Corresponding to Gestion... </h2>
			</div>

		{% endif %}
   {% endfor %}
</ol>

{% endblock %}

