{% extends "base.html" %}

{% block title %}
Offer List for Immobilier
{% endblock %}

{% block content %}

<br><br>
<br><br>


<ol>
	{% for offer in offers %}
		{% if offer.category == "immobilier" %}

			<div class="card text-bg-dark mb-3" style="width: 20rem;" >
				<img src="https://cdn.pixabay.com/photo/2014/05/18/18/34/icon-347234__340.png" 
				width="100" 
				height="100" 
				class="card-img-center"  
				>

				<div class="card-body">
		    		<h5 class="card-title">{{offer.title_offer}}</h5>
		    		<a href="{% url 'offer_view' offer.pk  %}" class="btn btn-primary">Read more...</a><br><br>
		  		</div>
                
			</div>

		{% elif offer.category != "immobilier"  %}

			<div>
				
			</div>	

		{% else %}
			<div class="text-center">
				<h2> No Offer Corresponding to Immobilier... </h2>
			</div>
		{% endif %}

	{% empty %}
        <p class="text-center">No jobs available at the moment.</p>
   {% endfor %}
</ol>

{% endblock %}

